.bingo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px; 
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.bingo-header {
  text-align: center;
  margin-bottom: 80px;
}

.bingo-header h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.bingo-header p {
  margin: 0;
  font-size: 18px;
  color: #777;
}

.bingo-background {
  background-color: #D9D9D9;
  padding: 15px; 
}

.bingo-grid {
  display: grid;
  grid-template-columns: repeat(3, 160px); 
  grid-template-rows: repeat(3, 160px);
  gap: 10px;
  margin-bottom: 0;
}

.bingo-cell {
  width: 160px;
  height: 160px;
  background-color: #BABABA;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #aaa;
  }

  &:active {
    background-color: #888;
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 10px #666;
  }
}

.bingo-footer {
  margin-top: 20px;
  text-align: center;
}

.bingo-footer p {
  font-size: 16px;
  color: #555;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.download-icon {
  margin-left: 30px; 
  width: 17px;       
  height: 14px;
}


/* 기존 스타일 유지 */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  height: 550px;
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-content {
  margin-top: 20px;
}

.image-placeholder {
  width: 100%;
  height: 400px;
  background-color: #ddd;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #555;
  display: flex;
  flex-direction: column;
}
  
.image-placeholder input[type="file"] {
  margin-top: 10px; 
  cursor: pointer; 
}

.comment-placeholder {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.like-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 5px;
}

.bingo-cell.completed {
  background-color: black;
}

