.bingo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px; 
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.bingo-header {
  text-align: center;
  margin-bottom: 80px;
}

.bingo-header h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.bingo-header p {
  margin: 0;
  font-size: 18px;
  color: #777;
}

.bingo-background {
  background-color: #D9D9D9;
  padding: 15px; 
}

.bingo-grid {
  display: grid;
  grid-template-columns: repeat(3, 160px); 
  grid-template-rows: repeat(3, 160px);
  gap: 10px;
  margin-bottom: 0;
}

.bingo-cell {
  width: 160px;
  height: 160px;
  background-color: #BABABA;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #aaa;
  }

  &:active {
    background-color: #888;
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 10px #666;
  }
}

.bingo-footer {
  margin-top: 20px;
  text-align: center;
}

.bingo-footer p {
  font-size: 16px;
  color: #555;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.download-icon {
  margin-left: 30px; 
  width: 17px;       
  height: 14px;
}