.leftMenu-container {
  height: 97vh;
  flex-direction: column;
  background-color: transparent;
  width: 15vw;
}

.homeButton {
  border-color: transparent;
  width: 100%;
  height: 8%;
  background-color: #fff;
  margin: 2vh;
  margin-bottom: 0;
  box-shadow: 5px 5px 0 rgba(254, 114, 16, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid red;
  text-align: center;
  outline: none;
}
.home-homeStyle {
  width: 4vh;
  height: 4vh;
  margin-right: 1vh;
  // border: 1px solid green;
}
.logoStyle {
  width: 50%;
  margin-top: 10px;
  // border: 1px solid blue;
}

#home-bingoName {
  font-size: 3.5vh;
  font-weight: 600;
  width: inherit;
  text-align: center;
  margin: 2vh 0 2vh 0;
  padding-top: 2vh;
}

.home-teamContainer {
  height: 86vh;
  width: 100%;
  flex-direction: column;
  background-color: white;
  margin: 0 2vh 0 2vh;
  box-shadow: 5px 5px 0 rgba(254, 114, 16, 0.25);
  border-radius: 10px;
}

.teamNameNum {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 10%;
  height: 5%;
  font-size: 3vh;
  padding-top: 15%;
}

#teamName {
  font-weight: 500;
}

#home-teamNum {
  background-color: transparent;
}

.userStyle {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#teamMates {
  text-align: left;
  width: inherit;
  padding: 0 2vh 0 3vh;
  font-size: 2.5vh;
}

#teamMates h3 {
  padding-top: 2vh;
}
