.reloadImage {
  width: 20px;
  height: 20px;
  padding-left: 2px;
}

.horizontalLine {
  width: 100%;
  height: 0.1vh;
  background-color: lightgray;
}

.sizeSelector {
  display: flex;
  gap: 10px;
}

.sizeButton {
  padding: 1vh 2vh;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.8vh;
  font-weight: 100;
  max-width: 17vw;

  &:hover {
    background-color: hsla(183, 61%, 80%, 0.558);
  }

  &.selected {
    background-color: hsl(183, 61%, 77%);
  }
}

//----------------------------

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #FFF9EA;
  padding: 0;
}
.recommend {
  width: 17vw;
  height: 97vh;
  background-color: white;
  margin: 2vh;
  box-shadow: 5px 5px 0 rgba(254, 114, 16, 0.25);
  border-radius: 10px;
}
.bingoName {
  font-size: 3vh;
  margin: 2vh;
  font-weight: bold;
  height: 3.5vh;
}
.recommendList {}
.refreshBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.refreshLabel {
  font-size: 2vh;
  margin: 2vh;
}
.refreshButton {
  background-color: transparent;
  border: solid black 1px;
  border-radius: 20%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vh;
}
.refreshButton:hover {
  background-color: #eee;
}

// -----------------------

.bingo {
  width: 66vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 0;
  background-color: transparent;
}
.bingoNameText {
  border: none;
  text-align: center;
  resize: none;
  font-size: 2.5vh;
  height: 5vh;
  width: 15vw;
  padding: 1vh;
  padding-bottom: 0;
  margin-bottom: 2vh;
  background-color: transparent;
  color: #FE7210;
  font-weight: bold;
}

.bingoFrame {}

// -----------------------

.settings {
  max-width: 17vw;
  height: 97vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-right: 2vh;
  background-color: white;
  margin: 2vh;
  box-shadow: 5px 5px 0 rgba(254, 114, 16, 0.25);
  border-radius: 10px;
}

.settingItems {
  margin-top: 7vh;
  margin-left: 3vh;
}

.settingTitle {
  font-size: 2.5vh;
  font-weight: bold;
  text-align: center;
  margin: -2vh 0 8vh 0;
}

.title {
  font-size: 2vh;
  font-weight: bold;
  margin: 2vh;
  margin-left: 0;
}

.sizeSelector {
  display: flex;
  flex-direction: column;
}

.timeSelector {
  .MuiInputBase-root {
    background-color: hsla(183, 61%, 80%, 0.68);
    border-radius: 10px;
    padding: none;
    max-width: 17vw;
    min-width: 5vw;
    margin-right: none;
  }

  .MuiOutlinedInput-root {
    fieldset {
      border-color: none;
    }

    &.Mui-focused fieldset {
      border-color: #0D9CA4;
    }
  }

  .MuiInputLabel-root {
    color: black;
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
    overflow: visible;
    text-align: left;
  }

  .MuiPickersDay-root {
    color: #0D9CA4;
    &:hover {
      background-color: #bfe4ff;
    }
  }

  .MuiPickersDay-daySelected {
    background-color: #0D9CA4;
    color: #fff;
  }
}

.goalContainer, .teamContainer {
  display: flex;
  align-items: center;
}

.teamNum, .goal {
  resize: none;
  font-size: 2vh;
  border-radius: 5px;
  width: 5vw;
  height: 3.5vh;
  margin-right: 1vh;
  font-weight: bold;
  line-height: 2.5vh;
  padding: 5px 0 0 5px;
  background-color: hsl(183, 61%, 77%);
  border: none;
}

.teamNum:focus, .goal:focus {
  outline: #0D9CA4 1px solid;
}

.teamNumText, .goalText {
  font-size: 2vh;
}

// -----------------------

.submit {
  border: none;
  padding: 1.5vh 7vh;
  font-size: 2vh;
  border-radius: 5px;
  margin-bottom: 2vh;
  margin-left: 3vh;
  background-color: #0D9CA4;
  color: white;
}

.submit:hover {
  background-color: hsl(183, 61%, 77%);
}

.submit:focus {
  border: 1px solid #0b848a;
}