.start-container {
  height: 100vh;
  width: 100vw;
  background-color: #FFF9EA;
  margin: 0;
}
.start-mainContainer {
  // border: 1px solid green;
  padding: 5vw;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.start-logo {
  cursor: default;
  width: 30%;
}
.start-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inviteCode {
  border-radius: 10px;
  height: 5vh;
  width: 20vh;
  text-align: center;
  font-size: 2vh;
  margin-right: 1vh;
  border: 1px solid black;
}
.inviteCode::placeholder {
  font-size: 1.5vh;
}
.inviteSubmit {
  margin-right: 2vh;
  border: none;
  width: 7vw;
  font-size: 2vh;
  cursor: pointer;
  background-color: #0D9CA4;
  border-radius: 10px;
  color: white;
  height: 3vw;
}
.newButton {
  border: none;
  width: 7vw;
  font-size: 2vh;
  cursor: pointer;
  background-color: #0D9CA4;
  border-radius: 10px;
  color: white;
  height: 3vw;
}

.start-bingoContainer {
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.start-bingo {
  background-color: lightgray;
  text-align: left;
  width: 25vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // 가로 스크롤 위한 세팅
  flex: 0 0 auto; 
  margin-right: 10px;
}
.start-bingoName {
  font-size: 2.5vh;
  margin-bottom: 10vh;
}
.start-bingoItem {
  width: 22vw;
  height: 40vh;
  background-color: gray;
}

.no-bingo-banner {
  font-size: 22px; 
  color: #333; 
  text-align: center; 
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; 
  line-height: 40px;
}